#headlineInputDark::placeholder {
    color: white;
    opacity: 0.3;
}
#descriptionInputDark::placeholder {
    color: white;
    opacity: 0.3;
}

#headlineInputLight::placeholder {
    color: black;
    opacity: 0.3;
}
#descriptionInputLight::placeholder {
    color: black;
    opacity: 0.3;
}

#headlineEditInputDark::placeholder {
    color: white;
    opacity: 0.3;
}
#descEditInputDark::placeholder {
    color: white;
    opacity: 0.3;
}

#headlineEditInputLight::placeholder {
    color: black;
    opacity: 0.3;
}
#descEditInputLight::placeholder {
    color: black;
    opacity: 0.3;
}